services:
  orderpaymentsystem.api:
    image: orderpaymentsystem.api
    build:
      context: ../
      dockerfile: src/Presentation/OrderPaymentSystem.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__PostgresSQL=Host=orderpaymentsystemdb;Port=5432;Database=OrderPaymentSystem;Username=postgres;Password=${POSTGRES_PASSWORD}
      - JwtSettings__JwtKey=${JWT_KEY}
      - Kestrel__Certificates__Development__Password=${KESTREL_CERT_PASSWORD}
      - Elasticsearch__Url=http://elasticsearch:9200
      - RedisSettings__Url=redis:6379
    ports:
      - "5000:8080"
    depends_on:
      - orderpaymentsystem.db
      - elasticsearch
    networks:
      - opsnw

  orderpaymentsystem.db:
    image: postgres:15
    container_name: orderpaymentsystemdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=OrderPaymentSystem
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - opsnw

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.ru
      - PGADMIN_DEFAULT_PASSWORD=admin
    restart: always
    ports:
      - "5050:80"
    networks:
      - opsnw

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    networks:
      - opsnw

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - opsnw

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - opsnw
    
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - opsnw

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - opsnw

volumes:
  postgres_data:
  elasticsearch_data:

networks:
  opsnw:
    driver: bridge